@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubot+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #030303ee;
}

section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 50px auto;
    align-items: center;
    color: white;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    cursor: pointer;
    justify-content: space-around;
    padding: 15px;
}

#logo {
    font-family: "Tektur", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 4px;
}

.container {
    width: 100%;
}

#name {
    border-bottom: rgba(169, 250, 169, 0.796) 2px solid;
    width: fit-content;
    padding: 10px;
}

.left {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.right{
    width: 30%;
}

.text{
    color: #dbdbdbc2;
    max-width: 100%;
}

.text h1 {
    font-size: 2.5rem;
}

.des {
    width: 50%;
    margin: 40px 0;
    font-family: "Hubot Sans", sans-serif;
}

.hero .right img {
    max-width: 100%;
}

.hero .button-wrapper button{
    padding: 15px 25px;
    outline:none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(169, 250, 169, 0.796);
    color: #fff;
    text-transform:uppercase;
    font-weight: 600;
    letter-spacing: 5px;
    cursor: pointer;
}

#chart-wrapper{
    display: flex;
    flex-direction: column;
    width: 85%;
}

#chart-wrapper div{
    width: 100%;
    margin: 20px 0;
    background-color: lightgreen;
}

.chart{
    display: flex;
}

.skills{
    flex-direction: column;
}

.chart-wrapper-left{
    width: 15%;
    flex-direction: column;
    display: flex;
    height: 100%;
}

.chart-wrapper-left div{
    margin: 20px;
}

.chart-wrapper-left div p{
    color: #fff;
}

.skills h1{
    font-size: 2.6rem;
    color: #fff;
}


.portfolio{
    flex-direction: column;
}

.portfolio h1 {
    font-size: 2.6rem;
    color: #fff;
    margin: 3rem 0;
}


.portfolio .portfolio-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5em;
}

.portfolio .portfolio-wrapper .portfolio-box {
    position: relative;
    width: 375px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.portfolio .portfolio-wrapper .portfolio-box img {
    width: 100%;
    border-radius: 15px;
    transition: .5s ease;
}

.portfolio .portfolio-wrapper .portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio .portfolio-wrapper .portfolio-box .portfolio-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 1.5em;
    background: linear-gradient(rgba(0, 0, 0, 0.4),#58575759);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio .portfolio-wrapper .portfolio-box .portfolio-info h4 {
    font-size: 2em;
    margin-bottom: 5px;
}

.portfolio .portfolio-wrapper .portfolio-box .portfolio-info p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
    margin: 10px 15px 15px;
    color: #fff;
}

.portfolio .portfolio-wrapper .portfolio-box .portfolio-info a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    background: #fff;
    border-radius: 50%;
}

.portfolio .portfolio-wrapper .portfolio-box .portfolio-info a i {
    color: #333;
}

.portfolio .portfolio-wrapper .portfolio-box:hover .portfolio-info {
    transform: translateY(0);
}



@media screen and (max-width: 1105px){
    .hero .left .text h1{
        font-size: 2rem;
    }
    .des{
        width: 70%;
    }
}
